
  html { height: 100% }
  body { height: 100% }
  #map { height: 100%; width: 100%}

  #floatWindow{
    display:block;
    background-color: brown;
    position:absolute;
    top:20%;
    left:20%;
    width:20%;
    height:20%;
}

  #open{
    display: none;

  }

  a{
    float:right
  }